<div class="sui-popover sui_popover_model" id="popover_pb_settings">
    <div class="pb-setting-item" title="Automatically trigger image generation when tags are added">
        <span class="form-check form-switch display-inline-block">
            <input type="checkbox" class="form-check-input" id="pb-setting-autogenerate">
            <label class="form-check-label" for="pb-setting-autogenerate">Auto-generate images</label>
        </span>
    </div>
    <div class="pb-setting-item sui-popover-inline-block" title="Minimum number of tags required before auto-generation triggers">
        <label for="pb-setting-autogenerate-threshold">Min tags:</label>
        <input type="number" id="pb-setting-autogenerate-threshold" class="pb-setting-number-input" min="1" max="20" value="3">
    </div>
    <div class="pb-setting-item" title="Show clickable links to Danbooru wiki for each tag">
        <span class="form-check form-switch display-inline-block">
            <input type="checkbox" class="form-check-input" id="pb-setting-danbooru-links">
            <label class="form-check-label" for="pb-setting-danbooru-links">Show Danbooru links</label>
        </span>
    </div>
    <div class="pb-setting-item" title="Enable console logging for debugging purposes">
        <span class="form-check form-switch display-inline-block">
            <input type="checkbox" class="form-check-input" id="pb-setting-debug-mode">
            <label class="form-check-label" for="pb-setting-debug-mode">Enable debug mode</label>
        </span>
    </div>
</div>

